body {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.container_1 {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: auto;
    display: block;
    box-sizing: border-box;
    opacity: 75%;
}

.container_1:hover {
    opacity: 100%;
}

#italic {
    font-style: italic;
}

img {
    border-radius: 50%;
}

.container_2 {
    background-color: dark
}

ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
}

li {
    display: block;
    box-sizing: border-box;
}

.container_ab {
    float: left;
    background-color: rgb(246, 246, 246);
    width: 50%;
    margin: auto;
    padding: 10%;
    display: block;
    box-sizing: border-box;
    opacity: 50%;
}

.container_ab:hover {
    opacity: 100%;
    background-color: white;
}

.container_ed {
    float: right;
    background-color: rgb(246, 246, 246);
    width: 50%;
    overflow-wrap: break-word;
    margin: auto;
    padding: 10%;
    display: block;
    box-sizing: border-box;
    opacity: 50%;
}

.container_ed:hover {
    opacity: 100%;
    background-color: white;
}

h2 {
    background-color: whitesmoke;
    margin: auto;
}